# S01a - List

## Syllabus
2.2.1	Understand the different data types: integer, real, char, string and Boolean; and initialise arrays (1-dimensional and 2-dimensional).  
2.2.3	Apply the fundamental programming constructs to control the flow of program execution:
- Sequence
- Selection
- Iteration

## Understanding Goals

At the end of this chapter, you should be able to:
- Create lists, access elements in a list and update values of elements in a list
- Apply common list operations such as concatination and slicing
- Apply common list related functions to manipulate a list and its elements
- Manipulate 1-dimensional and 2-dimensional arrays/lists

## Section 1 - Introduction to List

### _1.1 What is a List?_

List is a **collection** which is **ordered** and **changeable**. It allows duplicate members.

### _1.2 Creating a list_

We can create lists by including values in the `[]`. An empty list can be created if no values are given.

#### ~ Example ~

In [1]:
lst_a = [1, 2, 3]
lst_b = ["x", "y", "z"]

# list can contain elements of different data types
lst_c = ["1", True, 1002, 1002]
lst_d = []

print(lst_a)
print(lst_b)
print(lst_c)
print(lst_d)

[1, 2, 3]
['x', 'y', 'z']
['1', True, 1002, 1002]
[]

### _1.3 Access elements in a list_

We can access elements in a list by using the index of the respective elements. However, if we try to access an element with an index greater than or equals to the total length of the list, an `IndexError` will be raised.

#### ~ Example ~

In [2]:
print(lst_a[0])
print(lst_b[1])
print(lst_c[2])
# Uncomment the following line to see what happens when index exceeds length of list
print(lst_c[4])

1
y
1002

IndexError: list index out of range

### _1.4 Updates values of elements in a list_

Unlike strings, list is mutable. Hence we can update/change the values of the elements easily.

#### ~ Example ~

In [3]:
lst_a[0] = 100
lst_b[1] = "haha"
lst_c[0] = 1

print(lst_a)
print(lst_b)
print(lst_c)

[100, 2, 3]
['x', 'haha', 'z']
[1, True, 1002, 1002]

## Section 2 - Common List Operations

### _2.1 List Concatenation_

We can simply concatenate lists into a **new** list by using the `+` operator.

#### ~ Example ~

In [4]:
lst_a = [1, 2, 3]
lst_b = ["x", "y", "z"]

lst_c = lst_a + lst_b
print(lst_a)
print(lst_b)
print(lst_c)

[1, 2, 3]
['x', 'y', 'z']
[1, 2, 3, 'x', 'y', 'z']

### _2.2 List Slicing_

Similar to string slicing operations, we can also use slicing operations on a list object. Take note that the result is a **new** list object.

#### ~ Example ~

In [5]:
lst_c = [1, 2, 3, 'x', 'y', 'z']
lst_d = lst_c[1::2]

print(lst_c)
print(lst_d)

[1, 2, 3, 'x', 'y', 'z']
[2, 'x', 'z']

## Section 3 - Common List Related Functions

### _3.1 `len()`_

Similar to strings, we can also use `len()` to get the length of a list, or the total number of elements in a list.

#### ~ Example ~

In [6]:
lst_c = [1, 2, 3, 'x', 'y', 'z']
print(len(lst_c))

6

### _3.2 `append()` function_

We can add in new elements into a list by using the `append()` function.

#### ~ Example ~

In [11]:
fruits = ["apple", "orange", "banana"]
fruits.append("pineapple")

print(fruits)

['apple', 'orange', 'banana', 'pineapple']

### _3.3 `extend()` function_

We can add all elements of another list into the current list by using the `extend()` function.

#### ~ Example ~

In [13]:
fruits = ["apple", "orange", "banana"]
fruits.extend(["pineapple", "kiwi"])

print(fruits)

['apple', 'orange', 'banana', 'pineapple', 'kiwi']

In [14]:
# Difference between append() and extend()
fruits = ["apple", "orange", "banana"]
fruits.append(["pineapple", "kiwi"])

print(fruits)

['apple', 'orange', 'banana', ['pineapple', 'kiwi']]

In [15]:
# Difference between append() and extend()
fruits = ["apple", "orange", "banana"]
fruits.extend("pineapple")

print(fruits)

['apple', 'orange', 'banana', 'p', 'i', 'n', 'e', 'a', 'p', 'p', 'l', 'e']

### _3.4 `remove()` function_

We can remove the **first occurance** of a value from a list by using the `remove()` function.

#### ~ Example ~

In [38]:
fruits = ["apple", "orange", "banana", "banana"]
fruits.remove("banana")

print(fruits)

# Uncomment the following line to see what happens if we try to remove an element not found in the list
fruits.remove("cheese")

['apple', 'orange', 'banana']

ValueError: list.remove(x): x not in list

### _3.5 `pop()` function_

We can remove an element based on its **index** by using the `pop()` function.
If no value is given, `pop()` will remove the last element in the list.

#### ~ Example ~

In [37]:
fruits = ["apple", "orange", "banana", "kiwi"]

fruits.pop(0)
print(fruits)

fruits.pop()
print(fruits)

# Uncomment the following line to see what happens if we pop at an index exceeding length of list
fruits.pop(2)

['orange', 'banana', 'kiwi']
['orange', 'banana']

IndexError: pop index out of range

### _3.6 `insert()` function_

We can insert an element into a list at a particular `index` by using the `insert()` function. All current elements at and after the `index` will be pushed backwards.

#### ~ Example ~

In [34]:
fruits = ["apple", "orange", "banana", "kiwi"]
fruits.insert(2, "watermelon")

print(fruits)

# What happens if the index > length of list?
fruits.insert(10, "cheese")
print(fruits)

['apple', 'orange', 'watermelon', 'banana', 'kiwi']
['apple', 'orange', 'watermelon', 'banana', 'kiwi', 'cheese']

### _3.7 `index()` function_

We can find the `index` of the **first occurance** of an element by using the `index()` function. An `ValueError` will be returned in the element cannot be found in the list.

#### ~ Example ~

In [36]:
fruits = ["apple", "orange", "banana", "kiwi"]

print(fruits.index("orange"))

# What happens if no such element is found in the list?
print(fruits.index("watermelon"))

1

ValueError: 'watermelon' is not in list

## Section 4 - Loops and Function Calls using List

### _4.1 Traversing through a list_

We can traverse through a list using `for` and `while` loops just like strings.

#### ~ Example ~

In [39]:
fruits = ["apple", "orange", "banana", "kiwi"]

# while loop
index = 0
while index < len(fruits):
    print(fruits[index])
    index += 1

apple
orange
banana
kiwi

In [40]:
fruits = ["apple", "orange", "banana", "kiwi"]

# for loop using index
for i in range(len(fruits)):
    print(fruits[i])

apple
orange
banana
kiwi

In [41]:
fruits = ["apple", "orange", "banana", "kiwi"]

# for loop using items in a collection
for fruit in fruits:
    print(fruit)

apple
orange
banana
kiwi

### _4.2 Passing a list object into a function_

When a list object being passed into a function, it is only passing a **reference** to the list. Hence, when the list is modified inside the function locally, it will reflect on the outter scope too.

#### ~ Example ~

In [42]:
fruits = ["apple", "orange", "banana", "kiwi"]

def update_list(lst):
    lst[0] = "watermelon"
    lst.append("strawberry")

update_list(fruits) 
print(fruits)

['watermelon', 'orange', 'banana', 'kiwi', 'strawberry']

## Section 5 - Other List Related Operations

### _5.1 String `.split()` Function_

Sometimes, we can split a long string into a list of shorted strings by using the `.split()` function.

#### ~ Example ~

In [2]:
long_string = "Xiao Ming, 60, Maths, Physics, Chemistry, Computing"

splited_str_lst = long_string.split(",")
splited_str_lst_2 = long_string.split(", ") # without the spaces

print(splited_str_lst)
print(splited_str_lst_2)

for item in splited_str_lst:
    splited_str_lst[splited_str_lst.index(item)] = item.strip() # removes front and back spaces

for i in range(len(splited_str_lst)):
    splited_str_lst[i] = splited_str_lst[i].strip()

print(splited_str_lst)

['Xiao Ming', ' 60', ' Maths', ' Physics', ' Chemistry', ' Computing']
['Xiao Ming', '60', 'Maths', 'Physics', 'Chemistry', 'Computing']
['Xiao Ming', '60', 'Maths', 'Physics', 'Chemistry', 'Computing']

### _5.2 List inside another List_

Since elements in a list can be any data type, it is possible to have lists inside a list object.

#### ~ Example ~

In [4]:
lst = [[1, 2, 3], [4, 5, [6, 7, 8]], ["a", "b", "c", "d"]]

for element in lst:
    print(element)

[1, 2, 3]
[4, 5, [6, 7, 8]]
['a', 'b', 'c', 'd']

### _5.3 Nested Loops with Lists_

We can iterate through the lists using nested loops.

#### ~ Example ~

In [62]:
lst = [[1, 2, 3], [4, 5, [6, 7, 8]], ["a", "b", "c", "d"]]

for i in range(len(lst)):
    for j in range(len(lst[i])):
        print(i, j, lst[i][j])

0 0 1
0 1 2
0 2 3
1 0 4
1 1 5
1 2 [6, 7, 8]
2 0 a
2 1 b
2 2 c
2 3 d